/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color:  #f8e4c9;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7561bd; /* Purple theme color */
  padding: 1.5rem;
  border-radius: 10px;
}

/* Sidebar Navigation Styles */
.sidebar .nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.sidebar .nav-item {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}

.nav-icon {
  height: 24px;
  margin-right: 1.5rem;
}

.nav-text {
  color: white;
  font-weight: bold;
}

/* Session Bar Styles */
.session-bar .nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.session-bar .nav-item {
  margin-right: 1rem;
  color: white;
  cursor: pointer;
}

.session-bar .nav-item:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar .nav-list, .session-bar .nav-list {
      display: block;
  }

  .sidebar .nav-item, .session-bar .nav-item {
      margin-bottom: 1rem;
  }
}
