
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Barra de Navegación</title>
    <link rel="stylesheet" href="menu.component.css">
</head>
<body>
    <div class="nav-container">
        <div class="sidebar" *ngIf="usersService.isLogged()">
            <ul class="nav-list">
                <li class="nav-item" [routerLink]="['/home']">
                    <img src="/assets/ojos.png" alt="Home" class="nav-icon">
                    <span class="nav-text"></span>
                </li>
                <li class="nav-item" [routerLink]="['/texts']">
                    <img src="/assets/escribir.png" alt="Ver Textos" class="nav-icon">
                    <span class="nav-text"></span>
                </li>
                <li class="nav-item" [routerLink]="['/texts/new']">
                    <img src="/assets/escribir.png" alt="Añadir Texto" class="nav-icon">
                    <span class="nav-text"></span>
                </li>
                <li class="nav-item">
                    <img src="/assets/perfil.png" alt="Perfil" class="nav-icon">
                    <span class="nav-text"></span>
                </li>
                <li class="nav-item">
                    <img src="/assets/buscar.png" alt="Buscar" class="nav-icon">
                    
                </li>
            </ul>
        </div>
        <div class="session-bar">
            <ul class="nav-list">
                <li class="nav-item" *ngIf="!usersService.isLogged()" [routerLink]="['/users/login']">Iniciar Sesión</li>
                <li class="nav-item" *ngIf="!usersService.isLogged()" [routerLink]="['/users/register']">Registrarse</li>
                <li class="nav-item" *ngIf="usersService.isLogged()" (click)="onClickLogout()">Cerrar Sesión</li>
            </ul>
        </div>
    </div>
</body>
</html>
