<!--<div class="logo-contenedor">
    <img src="/assets/logo.png" alt="Logo de WRITEitALL">
    <h1 class="titulo-logo">WRITEitALL</h1>
    <p class="registro-frase">Inicia sesión</p>
</div>

<div class="row">
    <div class="col-12">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input type="submit" value="Iniciar Sesión" class="btn btn-info">
        </form>
    </div>
</div>-->
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inicio de Sesión - WRITEitALL</title>
<link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="contenedor-principal">
    <div class="logo-contenedor">
        <img src="/assets/logo.png" alt="Logo de WRITEitALL">
        <h1 class="titulo-logo">WRITEitALL</h1>
        <p class="registro-frase">Inicia sesión</p>
    </div>

    <div class="row">
        <div class="col-12">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="text-form">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <input type="submit" value="Iniciar Sesión" class="btn btn-info">
            </form>
        </div>
    </div>
  </div>
</body>
</html>
