<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tu Página Web</title>
    <link rel="stylesheet" href="home-page.component.css">
</head>
<body>
    
    <!-- Header Section -->
    <header class="header">
        <h1>Explora y comparte tu creatividad</h1>
        <p>Un espacio para escritores, lectores y exploradores de historias.</p>
        <button class="cta-button" routerLink="/texts/new">Empieza a Escribir</button>
    </header>
    
    <!-- Main Content Section -->
    <section class="main-content">
        <div class="text-section">
            <h2>¿Qué encontrarás aquí?</h2>
            <p>Descubre relatos, poesía y artículos que despiertan emociones y pensamientos. O sumérgete y comparte tus propias creaciones.</p>
        </div>
        <div class="image-section">
            <img src="/assets/pluma.png" alt="Escritura Creativa" class="image" >
        </div>

    </section>

    <section class="texts-section">
        <div *ngFor="let text of textsArray()" class="text-card">
            <a href="/texts/{{ text._id }}" class="text-link">
                <div class="text-title">{{ text.title }}</div>
                <div class="text-description">{{ text.description }}</div>
            </a>
        </div>
    </section>
    
</body>
</html>
