<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tu Página Web</title>
    <link rel="stylesheet" href="home-page.component.css">
</head>
<body>
    <div class="barra-lateral">
        <ul>
            <li class="imagen-hover">
                <img src="/assets/ojos.png" alt="Ver Texto">
                <span class="texto-hover">Ver Texto</span>
            </li>
            <li class="imagen-hover">
                <img src="/assets/escribir.png" alt="Añadir Texto">
                <span class="texto-hover">Añadir Texto</span>
            </li>
            <li class="imagen-hover">
                <img src="/assets/perfil.png" alt="Perfil">
                <span class="texto-hover">Perfil</span>
            </li>
            <li class="imagen-hover">
                <img src="/assets/buscar.png" alt="Buscar">
                <span class="texto-hover">Buscar</span>
            </li>
        </ul>
    </div>
     <!-- Contenido principal -->
     <div class="contenido">
        <!-- Sección 1 -->
        <div class="seccion">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <img src="/assets/ejemplo1.png" alt="Descripción imagen 1">
        </div>

        <!-- Sección 2 -->
        <div class="seccion">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <img src="/assets/ejemplo2.png" alt="Descripción imagen 2">
        </div>
    </div>
</body>
</html>

