
/*.contenido {
    margin-left: 200px; /* Igual al ancho de la barra lateral *
    padding: 20px;
}
/* ... tus otros estilos CSS ... *

.imagen-hover {
    position: relative;
    display: flex;
    align-items: center;
}



/* ... estilos existentes ... *

.contenido {
    margin-left: 80px; /* Ajusta este valor para adaptarse al ancho de tu barra lateral *
    padding: 20px;
}

.seccion {
    margin-bottom: 40px;
    background-color: #f4f4f4; /* Color de fondo para las secciones *
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados (opcional) *
}

.seccion img {
    width: 50%; /* Ajusta el ancho de las imágenes *
    height: auto; /* Mantiene la proporción de las imágenes *
    margin-top: 20px; /* Espacio entre el texto y la imagen *
}*/

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background */
}

/* Header Section */
.header {
    text-align: center;
    background-color: #5c4b99; /* Purple background */
    color: #fff;
    padding: 2rem 0;
}

.header h1 {
    margin-bottom: 0.5rem;
}

.header p {
    margin-bottom: 2rem;
}

.cta-button {
    background-color: #7a6fb3; /* Lighter shade of purple */
    color: #fff;
    border: none;
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #897dc4;
}

/* Main Content Section */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.text-section {
    text-align: center;
    margin-bottom: 2rem;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .main-content {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .text-section, .image-section {
        flex: 1;
        padding: 1rem;
    }
}
