body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.barra-lateral {
    width: 60px; /* Ajusta según necesites */
    background-color: #7141b9; /* Color lila */
    height: 100vh; /* Altura completa de la ventana */
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px;
    margin-top: 0;
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
}

.barra-lateral li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.barra-lateral img {
    margin-top: 5rem;
    margin-right: 10px;
    width: 30px; /* Ajusta este valor para cambiar el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
}

.contenido {
    margin-left: 200px; /* Igual al ancho de la barra lateral */
    padding: 20px;
}
/* ... tus otros estilos CSS ... */

.imagen-hover {
    position: relative;
    display: flex;
    align-items: center;
}

.texto-hover {
    position: relative;
    left: 100%; /* Ajustar según la posición deseada */
    top: 0;
    visibility: hidden;
    color: white;
    background-color: rgba(68, 66, 66, 0.7);
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap; /* Evita que el texto se ajuste y permanezca en una sola línea */
}

.barra-lateral li:hover .texto-hover {
    visibility: visible;
}
/* ... estilos existentes ... */

.contenido {
    margin-left: 80px; /* Ajusta este valor para adaptarse al ancho de tu barra lateral */
    padding: 20px;
}

.seccion {
    margin-bottom: 40px;
    background-color: #f4f4f4; /* Color de fondo para las secciones */
    padding: 10px;
    border-radius: 10px; /* Bordes redondeados (opcional) */
}

.seccion img {
    width: 50%; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantiene la proporción de las imágenes */
    margin-top: 20px; /* Espacio entre el texto y la imagen */
}
