<div class="row">
    <div class="col-12">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)">
            <div class="mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="mb-3">
                <label class="form-label">Contenido</label>
                <input type="text" class="form-control" formControlName="content">
            </div>
            <div class="mb-3">
                <label class="form-label">Explicito</label>
                <input type="checkbox" class="form-check" formControlName="explicit">
            </div>
            <div class="mb-3">
                <label class="form-label">Privado</label>
                <input type="checkbox" class="form-check" formControlName="private">
            </div>
            <input type="submit" value="Enviar" class="btn btn-info">
            <input type="submit" value="Borrar" class="btn btn-info">
            <input type="submit" value="Cancelar" class="btn btn-info">
        </form>
    </div>
</div>
