<!--<div class="row">
    <div class="col-12">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)">
            <div class="mb-3">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="mb-3">
                <label class="form-label">Contenido</label>
                <input type="text" class="form-control" formControlName="content">
            </div>
            <div class="mb-3">
                <label class="form-label">Explicito</label>
                <input type="checkbox" class="form-check" formControlName="explicit">
            </div>
            <div class="mb-3">
                <label class="form-label">Privado</label>
                <input type="checkbox" class="form-check" formControlName="private">
            </div>
            <input type="submit" value="Enviar" class="btn btn-info">
            <input type="submit" value="Borrar" class="btn btn-info">
            <input type="submit" value="Cancelar" class="btn btn-info">
        </form>
    </div>
</div>
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Texto Nuevo</title>
    <link rel="stylesheet" href="edit-text.component.css">
</head>
<body>
    
    <div class="container">
        <h2 class="form-title">Comparte tu Historia</h2>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)" class="text-form">
            <div class="form-group">
                <label for="title" class="form-label">Título</label>
                <input id="title" type="text" class="form-control" formControlName="title">
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Descripción</label>
                <textarea id="description" class="form-control" formControlName="description" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="content" class="form-label">Contenido</label>
                <textarea id="content" class="form-control" formControlName="content" rows="5"></textarea>
            </div>
            <div class="form-check">
                <input id="explicit" type="checkbox" class="form-check-input" formControlName="explicit">
                <label for="explicit" class="form-check-label">Explícito</label>
            </div>
            <div class="form-check">
                <input id="explicit" type="checkbox" class="form-check-input" formControlName="private">
                <label for="explicit" class="form-check-label">Privado</label>
            </div>
            <button type="submit" class="btn-submit" value="Terminar">Terminar</button>
            <button type="submit" class="btn-submit" value="Borrar" >Borrar</button>
            <button type="submit" class="btn-submit" value="Cancelar">Cancelar</button>

        </form>
    </div>
    
</body>
</html>