<!--<ul>
    <div *ngFor="let text of arrTexts()">

        <li  [routerLink]="['/texts', text._id]">
            {{text.title}} - {{text.content}}
        </li>
        <li  [routerLink]="['/users', text.creator]">
            {{text.creator}}
            
        </li>
    </div>
</ul>-->
<ul>
    <div *ngFor="let text of arrTexts()">
      <li>
        <!-- El título del texto como un enlace a su página específica -->
        <a [routerLink]="['/texts', text._id]">
          <h2>{{ text.title }}</h2>
        </a>
        <!-- La descripción del texto -->
        <p>{{ text.description }}</p>
        <!-- Botones de editar y eliminar, visibles solo si el usuario es el propietario del texto -->
        <button [routerLink]="['/texts/edit', text._id]">Editar</button>
      </li>
    </div>
</ul>